/* GENERAL */
:root {
  --background-color: #232323;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

ul {
  list-style: none;
  display: flex;
}

form {
  outline: none;
}

input {
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.section-active {
  left: 0% !important;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
}