.btn {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  outline: none;
}

  .btn--to-add-new {
    font-size: 30px;
    border-top-left-radius: 30px;
    background-color: rgb(255,73,84);
    position: fixed;
    padding: 20px 15px 10px 20px;
    bottom: 0;
    right: 0;
  }

  .btn--back {
    padding-right: 20px;
  }

    .btn--back > img {
      width: 25px;
    }

.btn-to-add-new-task {
  z-index: -20;
}