.btn {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  outline: none;
}

  .btn-to-add-new-category {
    z-index: 20;
  }

  .btn--to-add-new {
    font-size: 30px;
    border-top-left-radius: 30px;
    background-color: rgb(255,73,84);
    position: fixed;
    padding: 20px 15px 10px 20px;
    bottom: 0;
    right: 0;
  }

  .btn--back {
    padding-right: 20px;
  }

    .btn--back > img {
      width: 25px;
    }

.btn-to-add-new-task {
  z-index: -20;
}

.task--priority {
  border: 1px solid rgba(0,0,0,1);
  width: 15px;
  height: 15px;
  position: relative;
  transform: rotate(20deg);
}

/* .task--priority:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  height: 15px;
  width: 15px;
  transform: rotate(135deg);
} */

.task--priority.active {
  border: none;
  background-color: rgb(98,71,182);
}