/* .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

  .grid__item {
    width: 170px;
    height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

    .grid__item > h3 {
      text-align: center;
      padding: 5px 0;
    }

    .grid__item > img {
      height: 60%;
      width: 100%;
      object-fit: contain;
    }

    .grid__item > p {
      font-size: 13px;
      margin: 15px 20px;
      text-align: center;
    } */