/* HEADER */
.main-menu__header {
  background-image: radial-gradient(circle 382px at 0% 75%, rgb(44,44,101), rgb(107,76,196)); 
  position: relative;
}

  /* HEADER FIRST LOOK */
  .header__first-look {
    padding: 50px 40px 25px;
    width: 70%;
  }

    .first-look__title {
      font-size: 35px;
      font-weight: 200;
    }

    .first-look__subtitle {
      margin-top: 10px;
      font-size: 13px;
    }

      .first-look__subtitle > span {
        font-weight: bold;
      }

  /* HEADER SUMMARY */
  .header__summary {
    display: flex;
    background-color: rgb(44,44,101);
  }
  
    .summary {
      display: flex;
      padding: 20px 0;
      width: 50%;
      justify-content: center;
    }

      .summary__cant {
        width: 20%;
      }

      .summary__name {
        font-size: 13px;
        width: 35%;
      }

/* GRID CATEGORIES */
.main-menu__grid-categories {
  background-color: rgb(245,246,251);
  min-height: 100vh;
  max-width: 100%;
}

  .grid-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
  }

    .category__item {
      display: flex;
      justify-content: center;
      color: black;
      padding: 40px 0;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      cursor: pointer;
    }

      .item__icon {
        width: 20%;
      }

        .item__icon > img {
          width: 20px;
          height: 20px;
        }

      .item__name {
        width: 40%;
        font-size: 18px;
      }

        .item__name > h4 {
          font-size: 17px;
          font-weight: 300;
        }

        .item__name > p {
          margin-top: 5px;
          font-size: 13px;
          opacity: 0.5;
        }